.release_time
.idea
.localfiles
.vscode/c_cpp_properties.json
.cache

bin
build
3rd-party/spdlog

compile_commands.json

docs/html

make/config.mk

CMakeLists.txt
cbuild

build.ninja
.ninja_*

__pycache__
**/__pycache__
